<p-toast></p-toast>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Captura o revisa la siguiente información</p>
                        <form [formGroup]="formulario" #form="ngForm" class="form-horizontal" (submit)="onSave(form)">
                            <div class="card" style="background-color: rgb(240, 247, 248);">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-4">
                                            <label>Proveedor</label> <br>
                                            <p-dropdown id="proveedor" name="proveedor" optionLabel="nombre"
                                                [options]="proveedores" dataKey="id" appendTo="body"
                                                [(ngModel)]="proveedor" (onChange)="selectProveedor($event)"
                                                [showClear]="true" placeholder="-Selecciona el Proveedor-"
                                                emptyFilterMessage="Sin resultados">

                                                <ng-template pTemplate="selectedItem">
                                                    <div *ngIf="proveedor">
                                                        <div style="font-weight: bolder;">{{ proveedor.nombre }}</div>
                                                    </div>
                                                </ng-template>

                                                <ng-template let-item pTemplate="item">
                                                    <div>{{ item.nombre }}</div>
                                                </ng-template>
                                            </p-dropdown>

                                        </div>


                                        <div class="col-4">
                                            <label for="claveProveedor">Clave del Producto del Proveedor</label>
                                            <input id="claveProveedor" name="claveProveedor" type="text"
                                                class="form-control" formControlName="claveProveedor"
                                                style="font-weight: bold;">
                                            <small
                                                *ngIf="formulario.get('claveProveedor')?.invalid && formulario.get('claveProveedor')?.touched"
                                                class="text-danger">
                                                <br> La Clave del Producto del Proveedores requerida.
                                            </small>
                                        </div>






                                        <div class="col-4">
                                            <label for="costo">Costo del Producto</label>
                                            <input id="costo" name="costo" type="number" class="form-control"
                                                formControlName="costo" style="font-weight: bold;">
                                            <small
                                                *ngIf="formulario.get('costo')?.invalid && formulario.get('costo')?.touched"
                                                class="text-danger">
                                                <br> El costo del Producto es requerido.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-12 d-flex justify-content-end">
                                    <button pButton type="submit" label="Guardar" icon="pi pi-clipboard"
                                        [disabled]="!formulario.valid"
                                        class="p-button-sm p-button-default m-1"></button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>