<div class="row">
    <div class="col-md-12">
        <div class="card card-chart">
            <div class="card-body">
                <!-- [tableStyle]="{ 'min-width': '50rem' }" -->
                <p-table [value]="calendario" styleClass="p-datatable-gridlines"
                    [tableStyleClass]="'custom-table'">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Ene</th>
                            <th>Feb</th>
                            <th>Mar</th>
                            <th>Abr</th>
                            <th>May</th>
                            <th>Jun</th>
                            <th>Jul</th>
                            <th>Ago</th>
                            <th>Sep</th>
                            <th>Oct</th>
                            <th>Nov</th>
                            <th>Dic</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-calendario>
                        <tr>
                            <td>{{ calendario.ene }}</td>
                            <td>{{ calendario.feb }}</td>
                            <td>{{ calendario.mar }}</td>
                            <td>{{ calendario.abr }}</td>
                            <td>{{ calendario.may }}</td>
                            <td>{{ calendario.jun }}</td>
                            <td>{{ calendario.jul }}</td>
                            <td>{{ calendario.ago }}</td>
                            <td>{{ calendario.sep }}</td>
                            <td>{{ calendario.oct }}</td>
                            <td>{{ calendario.nov }}</td>
                            <td>{{ calendario.dic }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>