<p-toast></p-toast>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Captura la siguiente información</p>
                        <form [formGroup]="formulario" #form="ngForm" class="form-horizontal" (submit)="onSave(form)">
                            <div class="card" style="background-color: rgb(240, 247, 248);">
                                <div class="card-header ">
                                    <h4 class="card-title">Datos del Producto</h4>
                                </div>
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="clave">Clave del Producto</label>
                                            <input id="clave" name="clave" type="text"
                                                class="form-control" formControlName="clave"
                                                style="font-weight: bold;">
                                            <small
                                                *ngIf="formulario.get('clave')?.invalid && formulario.get('clave')?.touched"
                                                class="text-danger">
                                                <br> La Clave del Producto es requerida.
                                            </small>
                                        </div>

                                        <div class="col-4">
                                            <label for="nombre">Nombre del Producto</label>
                                            <input id="nombre" name="nombre" type="text"
                                                class="form-control" formControlName="nombre"
                                                style="font-weight: bold;">
                                            <small
                                                *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched"
                                                class="text-danger">
                                                <br> El nombre del Producto es requerido.
                                            </small>
                                        </div>

                                        <div class="col-4">
                                            <label>Tipo de Producto</label> <br>
                                            <p-dropdown id="tipoProducto" name="tipoProducto" optionLabel="nombre"
                                                [options]="tiposProductos" dataKey="id" appendTo="body"
                                                [(ngModel)]="tipoProducto" (onChange)="selectTipo($event)"
                                                [showClear]="true" placeholder="-Selecciona el tipo de producto-"
                                                emptyFilterMessage="Sin resultados">

                                                <ng-template pTemplate="selectedItem">
                                                    <div *ngIf="tipoProducto">
                                                        <div style="font-weight: bolder;">{{ tipoProducto.nombre }}
                                                        </div>
                                                    </div>
                                                </ng-template>

                                                <ng-template let-item pTemplate="item">
                                                    <div>{{ item.nombre }}</div>
                                                </ng-template>
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>


                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <h4 class="card-title">Proveedores que han surtido el producto</h4>
                                            </div>
                                            <!-- <div class="col-md-6 col-sm-6 d-flex justify-content-end ">
                                                <button pButton pRipple (click)="OpenDialog()" icon="pi pi-plus"
                                                    pTooltip="Agregar proveedor al producto" tooltipPosition="left"
                                                    class="p-button-sm p-button-success m-1"></button>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>



                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p-table #dt [value]="proveedores" editMode="row" [rows]="10"
                                                [paginator]="true" [globalFilterFields]="['nombreProveedor']"
                                                [rowHover]="true" dataKey="id"
                                                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                                                [showCurrentPageReport]="true" styleClass="p-datatable-sm"
                                                responsiveLayout="stack" [rowsPerPageOptions]="[5, 10, 20]">

                                                <ng-template pTemplate="header">
                                                    <!-- !-- ! ***Encabezados -- -->
                                                    <tr>
                                                        <th pSortableColumn="nombreProveedor">Proveedor <p-sortIcon
                                                                field="nombreProveedor"
                                                                style="width:550px"></p-sortIcon></th>
                                                        <th pSortableColumn="claveProveedor">Clave <p-sortIcon
                                                                field="claveProveedor" style="width:550px"></p-sortIcon>
                                                        </th>
                                                        <th pSortableColumn="costo">Costo <p-sortIcon
                                                                field="costo" style="width:550px"></p-sortIcon>
                                                        </th>
                                                        <th style="width:250px">Opciones</th>
                                                    </tr>

                                                </ng-template>
                                                <ng-template pTemplate="body" let-item>
                                                    <tr [pEditableRow]="item" #itemProducto>
                                                        <td>{{ item.nombreProveedor }}</td>
                                                        <td>{{ item.claveProveedor}}</td>
                                                        <td>$ {{ item.costo | currency:'MXN':'symbol':'1.2-2'}}
                                                        </td>
                                                        
                                                        <td style="width:250px">
                                                            <button pButton pRipple type="button" icon="pi pi-pencil"
                                                                (click)="OpenDialog(item)"
                                                                class="p-button-rounded p-button-text p-button-default"></button>

                                                            <button pButton pRipple type="button" icon="pi pi-trash"
                                                                (click)="Delete(item)"
                                                                class="p-button-rounded p-button-text p-button-danger"></button>

                                                        </td>
                                                    </tr>
                                                </ng-template>

                                                <ng-template pTemplate="summary">
                                                    <div class="p-d-flex p-ai-center p-jc-between">
                                                        En total hay {{proveedores ? proveedores?.length : 0 }} registros.
                                                    </div>
                                                </ng-template>
                                            </p-table>
                                        </div>

                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-12 d-flex justify-content-end">
                                    <button pButton type="submit" label="Guardar" icon="pi pi-clipboard"
                                        [disabled]="!formulario.valid"
                                        class="p-button-sm p-button-default m-1"></button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>