<p-toast></p-toast>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <div class="card" style="background-color: #d3f4ea;">
            <div class="card-header card-header-info text-center">
                <h4 class="card-title">
                    Pagos Programados de la Póliza 
                    <strong>{{ cobranza.numPoliza }}</strong> <br>
                    Asegurado: <p-badge value="{{cobranza.asegurado}}" severity="azure"></p-badge> <br>
                    Próximo pago: <p-badge value="{{cobranza.fechaProxPago | date: 'fullDate'}}" severity="primary"></p-badge>
                </h4>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <button pButton type="button" label="Regresar" pTooltip="al listado de Pólizas"
                                (click)="toBack()" icon="pi pi-angle-double-left" class="p-button-sm"></button>
                        </div>
                        <div class="col-md-6 col-sm-6 d-flex justify-content-end ">
                            <button pButton pRipple (click)="AplicarSiguientePago()" label="Aplicar siguiente pago"
                                icon="pi pi-wallet" pTooltip="Aplicar siguiente pago" [disabled]="isDisabledAplicar"
                                tooltipPosition="left" class="p-button-sm p-button-success m-1"></button>

                            <button pButton pRipple (click)="DesaplicarSiguientePago()" label="Des-aplicar último pago"
                                icon="pi pi-wallet" pTooltip="Desaplicar último pago" [disabled]="isEnableDesaplicar"
                                tooltipPosition="left" class="p-button-sm p-button-danger m-1"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12 ml-auto mr-auto">
                        <p-table #dt [value]="pagos" [rows]="10" [paginator]="true"
                            [globalFilterFields]="['estatusPago', 'usuario']" [rowHover]="true" dataKey="id"
                            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                            [showCurrentPageReport]="true" styleClass="p-datatable-sm" responsiveLayout="stack"
                            [rowsPerPageOptions]="[5, 10, 20]">
                            <ng-template pTemplate="caption">
                                <div class="grid">
                                    <div class="col-12 lg:col-4 md:col-4 sm:flex-nowrap align-items-rigth">
                                        <span class="p-input-icon-left w-full">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text"
                                                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                                placeholder="Buscar por Estatus o Usuario que aplicó el pago..."
                                                class="w-full" />
                                        </span>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <!-- ***Encabezados -->
                                <tr>
                                    <th pSortableColumn="fechaVencimiento">Fecha Vencimiento <p-sortIcon
                                            field="fechaVencimiento"></p-sortIcon>
                                    </th>
                                    <th>Prima Total</th>
                                    <th>Prima Neta</th>
                                    <th pSortableColumn="estatusPago">Estatus <p-sortIcon
                                            field="estatusPago"></p-sortIcon></th>
                                    <th pSortableColumn="usuraio">Aplicado por <p-sortIcon field="usuario"></p-sortIcon></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr>
                                    <td>
                                        <center>
                                            {{ item.fechaVencimiento | date: 'dd/MM/yy'}}
                                        </center>
                                    </td>
                                    <td>
                                        <div *ngIf="item.primaTotal === null">
                                            <span style="color: rgb(222, 220, 220); text-align: center;">---</span>
                                        </div>
                                        {{ item.primaTotal }}
                                    </td>
                                    <td>
                                        <div *ngIf="item.primaNeta === null">
                                            <span style="color: rgb(222, 220, 220); text-align: center;">---</span>
                                        </div>
                                        {{ item.primaNeta }}
                                    </td>
                                    <td>
                                        <div *ngIf="item.estatusPago == 1">
                                            <span class="badge badge-success">
                                                Pagado
                                            </span>
                                            el día
                                            <span style="color: blueviolet;">
                                                <strong>{{ item.fechaPago | date: 'medium'}} hrs</strong>
                                            </span>
                                        </div>
                                        <div *ngIf="item.estatusPago == 0">
                                            Pendiente
                                            <span *ngIf="item.fechaVencimiento == cobranza.fechaProxPago">
                                                <p-badge value="Próximo" severity="warning"></p-badge>
                                            </span>
                                        </div>

                                    </td>
                                    <td>{{ item.usuario }}</td>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="summary">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    En total hay {{pagos ? pagos.length : 0 }} registros.
                                </div>
                            </ng-template>
                        </p-table>
                </div>
            </div>

            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <p-button (onClick)="showDialog()" icon="pi pi-arrow-up-left"
                                label="Ver Reglas de Negocio" severity="secondary" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<p-confirmDialog #cd [style]="{width: '50vw'}">
    <!-- <ng-template pTemplate="header">
        <h3>Aplicar Pago</h3>
    </ng-template> -->
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" style="margin: 10px;" (click)="cd.reject()" class="p-button-sm p-button-secondary m-1"></button>
        <button type="button" pButton icon="pi pi-check" label="Sí" style="margin: 10px;" (click)="cd.accept()" class="p-button-sm p-button-info m-1"></button>
    </ng-template>
</p-confirmDialog>

<!-- <p-confirmDialog 
    acceptLabel="Sí!!!" rejectLabel="No" 
    [style]="{ width: '450px' }" 
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
    class="ui-dialog-footer">
    content
</p-confirmDialog> -->


<app-reglas-negocio [esVisible]="reglasNegocioVisible" [(tipoRegla)]="tipoRegla" (visibleEmit)="reglasNegocioVisible = $event">
</app-reglas-negocio>