<!-- <pre>{{polizas | json}}</pre> -->
<p-toast></p-toast>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <div class="card" style="background-color: #d3f4ea;">
            <div class="card-header card-header-info text-center">
                <h2 class="card-title">Cobranza</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <p-table #dt [value]="polizas" [rows]="10" [paginator]="true"
                            [globalFilterFields]="['asegurado', 'numPoliza']" [rowHover]="true" dataKey="id"
                            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                            [showCurrentPageReport]="true" styleClass="p-datatable-sm" responsiveLayout="stack"
                            [rowsPerPageOptions]="[5, 10, 20]">
                            <ng-template pTemplate="caption">
                                <div class="grid">
                                    <div class="col-4 lg:col-4 md:col-4 sm:flex-nowrap align-items-rigth">

                                        <p-selectButton [options]="alcanceCobranza" [(ngModel)]="alcanceCobranzaValue"
                                            optionLabel="label" optionValue="value"
                                            (onOptionClick)="onOptionClickCobranzaActiva($event)" />

                                        <!-- <span class="p-input-icon-left w-full">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text"
                                                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                                placeholder="Buscar por Nombre de Asegurado o Número de Póliza..."
                                                class="w-full" />
                                        </span> -->
                                    </div>
                                    <div class="col-6 lg:col-4 md:col-4 sm:flex-nowrap align-items-rigth">
                                        <span class="p-input-icon-left w-full">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text" [(ngModel)]="searchValue"
                                                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                                placeholder="Buscar por Nombre de Asegurado o Número de Póliza..."
                                                class="w-full" />
                                        </span>
                                    </div>
                                    <div
                                        class="col-2 lg:col-4 md:col-4 sm:flex-nowrap align-items-rigth justify-content-end">
                                        <p-button label="" [outlined]="true" icon="pi pi-filter-slash"
                                            (onClick)="clear(dt)" pTooltip="Limpiar filtro" />
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <!-- ***Encabezados -->
                                <tr>
                                    <th pSortableColumn="asegurado">Nombre <p-sortIcon field="asegurado"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="numPoliza">#Póliza <p-sortIcon field="numPoliza"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="fechaProxPago">Próx Pago <p-sortIcon
                                            field="fechaProxPago"></p-sortIcon></th>
                                    <th pSortableColumn="periodicidad.periodicidad">Periodo<p-sortIcon
                                            field="periodicidad.periodicidad"></p-sortIcon></th>
                                    <th pSortableColumn="conducto.conducto">Conducto <p-sortIcon
                                            field="conducto.conducto"></p-sortIcon></th>
                                    <th pSortableColumn="estatusCobro.estatusCobro">Estatus <p-sortIcon
                                            field="estatusCobro.estatusCobro"></p-sortIcon></th>
                                    <th pSortableColumn="compania.compania">Cñía <p-sortIcon
                                            field="compania.compania"></p-sortIcon></th>
                                    <th>+Info</th>
                                    <th style="width:250px">Opciones</th>
                                </tr>
                                <tr>
                                    <!-- ***Filters -->
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>
                                        <!-- field="estatusCobro.estatusCobro" -->
                                        <p-columnFilter field="ultimoMsj" matchMode="equals" [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback"
                                                style="background-color: brown;">
                                                <p-dropdown [(ngModel)]="value" [options]="statusesCobro"
                                                    (onChange)="filter($event.value)" placeholder="Filtra"
                                                    [showClear]="true">
                                                    <ng-template let-option pTemplate="item"><p-tag
                                                            [value]="option.value"
                                                            [severity]="getSeverityEstatusCobro(option.value)" /></ng-template>
                                                </p-dropdown>
                                            </ng-template>
                                        </p-columnFilter>
                                    </th>
                                    <th>
                                        <p-columnFilter field="compania.compania" matchMode="equals" [showMenu]="false">
                                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                <p-dropdown [(ngModel)]="value" [options]="companias"
                                                    (onChange)="filter($event.value)" placeholder="Filtra"
                                                    [showClear]="true"></p-dropdown>
                                            </ng-template>
                                        </p-columnFilter>
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr [pTooltip]="item.id" #itemCobranza>
                                    <td> <strong> {{ item.asegurado }} </strong></td>
                                    <td>{{ item.numPoliza}}</td>
                                    <td style="color: blueviolet;"><strong>{{ item.fechaProxPago | date: 'dd/MMM/yy'
                                            }}</strong></td>
                                    <td>{{ item.periodicidad.periodicidad }}</td>
                                    <td>{{ item.conducto.conducto }}</td>
                                    <td>
                                        <center>
                                            <p-tag [value]="item.ultimoMsj"
                                                [severity]="getSeverityEstatusCobro(item.ultimoMsj)" />
                                        </center>
                                    </td>
                                    <td>
                                        <img [src]="getLogoCompania(item.compania.compania)" width="30px">
                                    </td>
                                    <td (mouseenter)="showOverlay($event, op1)" (mouseleave)="hideOverlay(op1)">
                                        <span class="material-icons text-info">info</span>
                                        <p-overlayPanel #op1>
                                            <app-mas-info-poliza [datosPoliza]="item"></app-mas-info-poliza>
                                        </p-overlayPanel>
                                    </td>
                                    <td class="text-center">
                                        <!-- <button pButton pRipple icon="pi pi-wallet" pTooltip="Aplicar Pago"
                                            class="p-button-sm p-button-info m-1" (click)="aplicarPago(item)"></button> -->
                                        <button pButton type="button" label="Pagos" icon="pi pi-dollar"
                                            (click)="goPagos(item)" class="p-button-sm p-button-default m-1"></button>

                                        <button pButton type="button" label="Notas" icon="pi pi-clipboard"
                                            class="p-button-sm p-button-default m-1" (click)="goNotas(item)"></button>

                                        <button pButton pRipple type="button" icon="pi pi-file-pdf"
                                            (click)="showPdfDialog(item)"
                                            class="p-button-rounded p-button-text p-button-danger"></button>

                                        <button pButton pRipple type="button" icon="pi pi-clone"
                                            (click)="ClonarCobranza(item)"
                                            class="p-button-rounded p-button-text p-button-info"></button>

                                        <button pButton pRipple type="button" icon="pi pi-trash"
                                            (click)="CancelarCobranza(item)"
                                            class="p-button-rounded p-button-text p-button-danger"></button>
                                    </td>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="summary">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    En total hay {{polizas ? polizas.length : 0 }} registros.
                                </div>
                            </ng-template>
                        </p-table>
                    </div>


                </div>
            </div>

            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <p-button (onClick)="showDialog()" icon="pi pi-arrow-up-left" label="Ver Reglas de Negocio"
                                severity="secondary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<p-confirmDialog #cd [style]="{width: '50vw'}">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" style="margin: 10px;" (click)="cd.reject()" class="p-button-sm p-button-secondary m-1"></button>
        <button type="button" pButton icon="pi pi-check" label="Sí" style="margin: 10px;" (click)="cd.accept()" class="p-button-sm p-button-info m-1"></button>
    </ng-template>
</p-confirmDialog>
<!-- <p-confirmDialog [style]="{ width: '450px' }" acceptLabel="Sí" rejectLabel="No" /> -->


<p-dialog [header]="titlePopupPDF" [modal]="true" [(visible)]="pdfVisible" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <app-pdf-poliza [cobranza]="poliza"></app-pdf-poliza>
</p-dialog>


<app-reglas-negocio [esVisible]="reglasNegocioVisible" [(tipoRegla)]="tipoRegla"
    (visibleEmit)="reglasNegocioVisible = $event">
</app-reglas-negocio>