<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <div class="card" style="background-color: #d3f4ea;">
            <div class="card-header card-header-info text-center">
                <h2 class="card-title">Calendario</h2>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <!-- <div class="col-6">
                            <button pButton type="button" label="Regresar" pTooltip="al listado de Pólizas"
                                (click)="toBack()" icon="pi pi-angle-double-left" class="p-button-sm"></button>
                        </div>
                        <div class="col-6">
                            Asegurado: <p-badge value="{{cobranza.asegurado}}" severity="azure"></p-badge> <br>
                            Próximo pago: <p-badge value="{{cobranza.fechaProxPago | date: 'fullDate'}}"
                                severity="primary"></p-badge>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <h4>
                            Este calendario muestra los días destacados en los que los clientes tienen como último día
                            para realizar el pago total o parcial de su póliza.</h4>
                    </div>

                    <div class="row" >
                        <div class="col-md-10 ml-auto mr-auto">
                            <div class="card card-calendar">
                                <div class="card-body px-0">
                                    <div id="fullCalendar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <p-button (onClick)="showDialog()" icon="pi pi-arrow-up-left"
                                label="Ver Reglas de Negocio" severity="secondary" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<app-reglas-negocio [esVisible]="reglasNegocioVisible" [(tipoRegla)]="tipoRegla" (visibleEmit)="reglasNegocioVisible = $event">
</app-reglas-negocio>