<!-- <pre>{{poliza | json}}</pre> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="flex flex-column gap-3 w-25rem">
                <div>
                    <span class="font-medium text-900 block mb-2">Más información de la Póliza</span>
                    <div class="row">
                        <div class="col-6">
                            <span class="material-icons text-info">calendar_month</span>
                            Inicio
                        </div>
                        <div class="col-6"><span class="font-medium"><p-chip [label]="poliza.inicioPoliza | date: 'd/MMM/yy'" /></span></div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="material-icons text-info">calendar_month</span>
                            Término
                        </div>
                        <div class="col-6"><span class="font-medium"><p-chip [label]="poliza.terminoPoliza | date: 'd/MMM/yy'" /></span></div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="material-icons text-info">style</span>
                            Plan
                        </div>
                        <div class="col-6"><span class="font-medium"><p-chip [label]="poliza.plan" /></span></div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="material-icons text-info">style</span>
                            Agente
                        </div>
                        <div class="col-6"><span class="font-medium"><p-chip [label]="poliza.agente" /></span></div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="material-icons text-info">style</span>
                            Estatus del Plan
                        </div>
                        <div class="col-6"><span class="font-medium">
                                <p-tag [value]="poliza.estatusPlan"
                                    [severity]="getSeverityEstatusPlan(poliza.estatusPlan)" />
                            </span></div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="material-icons text-info">exit_to_app</span>
                            Tipo de Póliza
                        </div>
                        <div class="col-6"><span class="font-medium"><p-chip [label]="poliza.tipoPoliza" /></span></div>
                    </div>
                   
                    <div class="row">
                        <div class="col-6">
                            <span class="material-icons text-info">attach_money</span>
                            Prima Neta
                        </div>
                        <div class="col-6"><span class="font-medium"><p-chip [label]="poliza.primaNeta" /></span></div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="material-icons text-info">attach_money</span>
                            Prima Total
                        </div>
                        <div class="col-6"><span class="font-medium"> <p-chip [label]="poliza.primaTotal" /></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <span class="material-icons text-info">paid</span>
                            Forma de Pago
                        </div>
                        <div class="col-6"><span class="font-medium"><p-chip [label]="poliza.periodicidad.periodicidad" /></span></div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <span class="material-icons text-info">attach_money</span>
                            PSFP
                        </div>
                        <div class="col-6"><span class="font-medium"><p-chip [label]="poliza.psfp" /></span></div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <span class="material-icons text-info">payments</span>
                            Moneda
                        </div>
                        <div class="col-6">
                            <img [src]="getLogoMoneda(poliza.moneda)" width="30px">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>