<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Este calendario muestra los días destacados en los que los clientes tienen como último día
                para realizar el pago de su póliza.</h4>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-calendar">
                <div class="card-body px-0">
                    <div id="fullCalendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>